<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trs.app.demo" >

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrivicyHelper" >
        <activity
            android:name=".MyCheckActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.trs.app.privacy.check"
            android:value="com.trs.app.demo.MyCheckActivity" />
        <provider
            android:authorities="com.trs.app.myprovider"
            android:name=".MyContentProvider"/>
    </application>

</manifest>